


@font-face{
    font-family: barokah-signature;
    src: url('../fonts/barokah-signature.ttf');
}
@font-face{
    font-family: axiforma-Light;
    src: url('../fonts/axiforma-Light.otf');
}
@font-face{
    font-family: axiforma-Heavy;
    src: url('../fonts/axiforma-Heavy.otf');
}
@font-face{
    font-family: Zabri;
    src: url('../fonts/Zabritzkyes.ttf');
}
@font-face{
    font-family: Recoleta;
    src: url('../fonts/Recoleta-SemiBold.ttf');
}
@font-face{
    font-family: Bodonio;
    src: url('../fonts/Bodonio.ttf');
}